__pycache__/
appstore/__pycache__/
appstore/routes/__pycache__/
appstore/templates/__pycache__/
appstore/static/__pycache__/

venv/

appstore/static/zamba/media/
appstore/static/zamba/train/videos/

process-result.json
process-result-dryrun.json
status.json

megedetector/