# [submodule "trapper"]
# 	path = trapper
# 	url = https://gitlab.com/trapper-project/trapper.git
# [submodule "animl-frontend"]
# 	path = animl-frontend
# 	url = https://github.com/tnc-ca-geo/animl-frontend.git
