Flask==3.0.3
Flask-Cors==4.0.1
Flask-Login==0.6.3
Flask-Bcrypt==1.0.1
Flask-SQLAlchemy==3.1.1
Werkzeug==3.0.3
Jinja2==3.1.4
SQLAlchemy==2.0.34
PyMySQL==1.1.1
celery==5.4.0
redis==5.0.8
boto3==1.34.149
requests==2.32.3
numpy==1.26.0
pandas==2.1.4
scipy==1.13.1
Pillow==10.4.0
opencv-python-headless==4.10.0.84
torch==2.2.2
torchvision==0.17.2
zamba @ git+https://github.com/drivendataorg/zamba.git@v2.4.1
tqdm==4.66.4
GitPython==3.1.43
python-dotenv==1.0.1
docker==7.1.0
megadetector==5.0.16