<!DOCTYPE html>
<html>
    <head>
        <title>Zamba</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <h1>Zamba - Classifying unlabeled videos</h1>
        <p>For more detailed information, check the <a href="https://zamba.drivendata.org/docs/stable/predict-tutorial/">User Tutorial</a>.</p>
        
        <h2>Upload videos/images for processing:</h2>
        <p>Only upload one type (video/image) at a time.</p>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" multiple />
            <input type="submit" value="Upload" />
        </form>

        <h3>Your uploaded videos</h3>
        <ul>
            {% for file in files %}
                <li>{{ file.filename }}</li>
            {% endfor %}
        </ul>
        
        <!-- command prompt setting -->
        <h2>Configuration</h2>
        <label for="mediaType">Media type:</label>
        <select name="mediaType" method="GET" action="/zamba" id="media-type">
            <option value="video" selected>video</option>
            <option value="image">image</option>
        </select>
        <br>
        <label for="dryRun">Dry run:</label>
        <select name="dryRun" method="GET" action="/zamba" id="dry-run">
            <option value="false">false</option>
            <option value="true" selected>true</option>
        </select>
        <br>
        <label for="outputClassname">Output class name only: </label>
        <select name="outputClassname" method="GET" action="/zamba" id="output-classname">
            <option value="false">false</option>
            <option value="true" selected>true</option>
        </select>

        <p>Please select a pretrained models that ship with the zamba package (see the <a href="https://zamba.drivendata.org/docs/stable/models/species-detection/" target="_blank">Available Models</a> page for more details).</p>
        <label for="model">Choose a pretrained model:</label>
        <select name="model" method="GET" action="/zamba" id="model-select">
            <option value="time_distributed" selected>time_distributed (default)</option>
            {% for model in models %}
                <option value="{{ model }}">{{ model }}</option>
            {% endfor %}
        </select>

        <p>Select the Process file(s) button to confirm processing the uploaded files. This process may take a while. </p>
        <button onclick="triggerProcess()">Process file(s)</button>

        <!-- Display task status/progress when running classification -->
        <div id="result"></div>
        <div id="taskStatus"></div>

        <button onclick="window.location.href='/zamba/result'">See results</button>

        <script>
            function triggerProcess() {
                // get selected model from the dropdown
                var mediaType = document.getElementById('media-type').value;
                var selectedModel = document.getElementById('model-select').value;
                var dryRun = document.getElementById('dry-run').value;
                var outputClassname = document.getElementById('output-classname').value;
                
                // send POST request to server
                $.ajax({
                    url: '/zamba/process',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ type:mediaType, model:selectedModel, dryRun:dryRun, outputClassname:outputClassname }),
                    success: function(response) {
                        document.getElementById('result').innerHTML = 'Classification started: ' + response.message + '<br>Task ID: ' + response.task_id;
                        sessionStorage.setItem('taskID', response.task_id); // Store task ID in session storage for future use
                    },
                    error: function(response) {
                        document.getElementById('result').innerHTML = 'Error: ' + response.responseJSON.error;
                    }
                });
            }

            function checkTaskStatus() {
                var taskId = sessionStorage.getItem('taskID');
                console.log(taskId);
                if (taskId) {
                    fetch(`/task_status/${taskId}`)
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                            document.getElementById('taskStatus').innerHTML = 'Task Status: ' + data.status;

                            if (data.status === 'SUCCESS') {
                                clearInterval(interval);
                            }
                        });
                }
            }

            // Get task status every 10 seconds and stop when success
            var interval = setInterval(checkTaskStatus, 10000);
        </script>
    </body>
</html>